<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.frame.dao.SysRoleDao">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <select id="selectRoleByUser" parameterType="UserInfo" resultType="SysRole">
        SELECT
            sr.*
        FROM
            sys_user_role sur
            LEFT JOIN sys_role sr ON sur.role_id = sr.id
        WHERE
            sur.uid = 1
    </select>
</mapper>
